				@font-face {
					font-family: 'momo-signiture';
					src: url('/wp-content/uploads/useanyfont/1439Momo-Signiture.woff2') format('woff2'),
						url('/wp-content/uploads/useanyfont/1439Momo-Signiture.woff') format('woff');
						  font-display: auto;
				}

				.momo-signiture{font-family: 'momo-signiture' !important;}

				.et_gf_momo-signiture{background:none !important;font-family:momo-signiture;text-indent:0 !important;font-size:25px;}

		